.background {
  max-width: 933px;
  background-color: #F4F4F4;
}
.header {
  padding: 10px;
  margin-bottom: 20px;
}
.tabs {
  display: flex;
  flex-direction: row;
  height: 50px;
}
.tab {
  max-width: 180px;
  margin-left: 10px;
}
.sell {
  justify-self: end;
}
.car {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid red;
}
.motorcycle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.labels {
  margin-left: 10px;
}
.label-h5 {
  margin: 0;
  color: #666666;
  font-weight: 500;
}
.label-h3 {
  margin: 0;
  color: red;
}
.icon {
  height: 50px;
  width: 50px;
  display: block;
}
